name: Build

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_PASSWORD }}

      - name: Build container images
        run: |
          docker build -f neovim/Containerfile -t ghcr.io/hardomx/neovim:${GITHUB_RUN_NUMBER} ./neovim
          docker build -f neovim/Containerfile -t ghcr.io/hardomx/neovim:latest ./neovim

      - name: Push images
        run: |
          docker push ghcr.io/hardomx/neovim:${GITHUB_RUN_NUMBER}
          docker push ghcr.io/hardomx/neovim:latest
