name: Expiration check

on:
  push:
    branches:
      - "main"

jobs:
  expiration_check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Check Token Expiration
        uses: hardomx/action-token-expiration@main
        with:
          token: ${{ secrets.GHCR_PASSWORD }}
          repository: ${GITHUB_REPOSITORY}
          warn-days: 7
          error-early: true
